@charset "UTF-8";
body{background-color: rgba(112, 241, 241, 0.562);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{color: rgb(0, 0, 0);

}
h2{color: rgba(64, 92, 22, 0.603);

}

h1#principal{
    background-color:rgb(46, 75, 3);
    text-align: center;
    color: white;
}
.basico{color: rgba(0, 128, 0, 0.39);

}
.intermediario{color: rgba(255, 166, 0, 0.692);

}
.avançado{color: rgba(212, 6, 6, 0.705);

}
.destaque{color: rgba(33, 129, 219, 0.63);

}
